<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/game.ejs %>    
 
    <script>  
      
      function userScriptLoaded() {
        
        var keyPressedEvent = module.tp$getattr('keyPressedEvent');    
        
        keyPressed (function (keyCode) {
            
          if ( keyCode == 'LEFT' ) {
            player.moveLeft()
          } 
          if ( keyCode == 'RIGHT' ) {
            player.moveRight()
          } 
          if ( keyCode == 'UP' ) {
            player.moveUp()
          } 
          if ( keyCode == 'DOWN' ) {
            player.moveDown()
          }  

          var x = player.x;
          var y = player.y;
          
          if(keyPressedEvent) {
            Sk.misceval.callsim(keyPressedEvent, keyCode);
          }    
          
          if(player.x != x || player.y != y) {
            tiles[x][y].entity = null;
          }
          
        })
        createEmptyMaze(10, 6)
        addWall(1, 2)
        addWall(2, 2)
        addWall(3, 2)
        addWall(3, 3)
        addWall(3, 4)
        addWall(3, 5)
        addGoal()
        addPlayer()
      } 
            
      document.addEventListener('DOMContentLoaded', function() {
        importPythonGame();
        loadUserScript('/py/ch-1.py')        
      })  
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
